nodered flows/flows.json
[
    {
        "id": "e9950fb4a0b9271b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "25b15afd81919975",
        "type": "influxdb",
        "hostname": "131.155.161.195",
        "port": "8086",
        "protocol": "http",
        "database": "mydb",
        "name": "mydb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://131.155.160.236:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "668b44d6703348a6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "78842370d6154d8f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "686c4c8ff06d22b8",
        "type": "ui_group",
        "name": "Edit parameters",
        "tab": "78842370d6154d8f",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d0b0ec39b5427ba",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ca2272c3.e8396",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "78842370d6154d8f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eae75652e699b65d",
        "type": "ui_spacer",
        "z": "e9950fb4a0b9271b",
        "name": "spacer",
        "group": "686c4c8ff06d22b8",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "4fbf457a.27378c",
        "type": "ui_tab",
        "name": "Messaging",
        "icon": "mail_outline"
    },
    {
        "id": "de9d2bae53940b0e",
        "type": "ui_dropdown",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "label": "select device",
        "tooltip": "",
        "place": "Select option",
        "group": "686c4c8ff06d22b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 790,
        "y": 480,
        "wires": [
            [
                "33776a6ee65119fa"
            ]
        ]
    },
    {
        "id": "091338ed24618b6a",
        "type": "influxdb in",
        "z": "e9950fb4a0b9271b",
        "influxdb": "25b15afd81919975",
        "name": "",
        "query": "SHOW TAG VALUES FROM sweep WITH KEY=ticker",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "bfc1568f7ab39c6b",
                "4f9dc039d262f8e1"
            ]
        ]
    },
    {
        "id": "bfc1568f7ab39c6b",
        "type": "function",
        "z": "e9950fb4a0b9271b",
        "name": "device grabber",
        "func": "var tempList = [];\nvar temp;\nfor(let i =0; i<msg.payload.length; i++){\n    temp = msg.payload[i].value;\n    tempList.push(temp);\n}\nmsg.options = tempList;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 480,
        "wires": [
            [
                "de9d2bae53940b0e"
            ]
        ]
    },
    {
        "id": "6e4062bf55621737",
        "type": "ui_text_input",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "label": "Stop frequency",
        "tooltip": "",
        "group": "686c4c8ff06d22b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 360,
        "y": 640,
        "wires": [
            [
                "4b77de342c15375e"
            ]
        ]
    },
    {
        "id": "f21c856a9f2a250f",
        "type": "mqtt out",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d0b0ec39b5427ba",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "33776a6ee65119fa",
        "type": "function",
        "z": "e9950fb4a0b9271b",
        "name": "function 2",
        "func": "msg.topic = msg.payload;\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 560,
        "wires": [
            [
                "bab072bf77ed8a46",
                "6e4062bf55621737",
                "b0ba7c84e55bf5d6",
                "63f783977560d02d"
            ]
        ]
    },
    {
        "id": "bab072bf77ed8a46",
        "type": "ui_text_input",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "label": "Start frequency",
        "tooltip": "",
        "group": "686c4c8ff06d22b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "3080e27f9692a5b4"
            ]
        ]
    },
    {
        "id": "b0ba7c84e55bf5d6",
        "type": "ui_text_input",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "label": "span",
        "tooltip": "",
        "group": "686c4c8ff06d22b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 330,
        "y": 700,
        "wires": [
            [
                "447077a862f2700b"
            ]
        ]
    },
    {
        "id": "3080e27f9692a5b4",
        "type": "function",
        "z": "e9950fb4a0b9271b",
        "name": "start frequency",
        "func": "msg.payload = \"sweep start \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 560,
        "wires": [
            [
                "f21c856a9f2a250f"
            ]
        ]
    },
    {
        "id": "4b77de342c15375e",
        "type": "function",
        "z": "e9950fb4a0b9271b",
        "name": "stop frequency",
        "func": "msg.payload = \"sweep stop \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 640,
        "wires": [
            [
                "f21c856a9f2a250f"
            ]
        ]
    },
    {
        "id": "447077a862f2700b",
        "type": "function",
        "z": "e9950fb4a0b9271b",
        "name": "span frequency",
        "func": "msg.payload = \"sweep span \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 700,
        "wires": [
            [
                "f21c856a9f2a250f"
            ]
        ]
    },
    {
        "id": "4f9dc039d262f8e1",
        "type": "debug",
        "z": "e9950fb4a0b9271b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "63f783977560d02d",
        "type": "ui_text_input",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "label": "Custom command",
        "tooltip": "",
        "group": "686c4c8ff06d22b8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 760,
        "wires": [
            [
                "f21c856a9f2a250f"
            ]
        ]
    },
    {
        "id": "c8d6cda37f97fd6e",
        "type": "ui_button",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "group": "686c4c8ff06d22b8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh list",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "091338ed24618b6a"
            ]
        ]
    },
    {
        "id": "5e1f0081.6dc3c",
        "type": "ui_template",
        "z": "e9950fb4a0b9271b",
        "group": "ca2272c3.e8396",
        "name": "window redirect",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"nodered\") {\n          window.open(\"http://131.155.161.195:1880\");\n          //window.location.href = \"http://131.155.161.195:1880\";\n        } \n        if (data == \"Grafana\") {\n          window.open(\"http://131.155.161.195:3000/d/K7ukhhWRz/bep-dashboard?orgId=1&refresh=5s\");\n          //window.location.href = \"http://131.155.161.195:3000\";\n        } \n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 860,
        "wires": [
            [
                "8582289.2d757d8"
            ]
        ]
    },
    {
        "id": "23caf401.9d6d4c",
        "type": "ui_button",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "group": "ca2272c3.e8396",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Graphing dashboard",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Grafana",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "ece06122.7e762"
            ]
        ]
    },
    {
        "id": "ece06122.7e762",
        "type": "trigger",
        "z": "e9950fb4a0b9271b",
        "name": "reset msg",
        "op1": "",
        "op2": "empty",
        "op1type": "pay",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 860,
        "wires": [
            [
                "5e1f0081.6dc3c"
            ]
        ]
    },
    {
        "id": "8582289.2d757d8",
        "type": "debug",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 860,
        "wires": []
    },
    {
        "id": "8eb64849a3ff383e",
        "type": "mqtt out",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "topic": "bep/main/interval",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d0b0ec39b5427ba",
        "x": 450,
        "y": 1060,
        "wires": []
    },
    {
        "id": "04e40af55d229256",
        "type": "ui_slider",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "label": "Measurement interval [s]",
        "tooltip": "",
        "group": "686c4c8ff06d22b8",
        "order": 8,
        "width": "14",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "20",
        "step": "0.5",
        "className": "",
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "8eb64849a3ff383e"
            ]
        ]
    },
    {
        "id": "b5ffd1e965f1a7dc",
        "type": "ui_button",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "group": "ca2272c3.e8396",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "clear database",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ff0000",
        "className": "",
        "icon": "",
        "payload": "clear database",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "34dbd631d8c365ce"
            ]
        ]
    },
    {
        "id": "34dbd631d8c365ce",
        "type": "mqtt out",
        "z": "e9950fb4a0b9271b",
        "name": "bep/main",
        "topic": "bep/main/main",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d0b0ec39b5427ba",
        "x": 340,
        "y": 980,
        "wires": []
    },
    {
        "id": "aa8b2c6f6c498888",
        "type": "ui_button",
        "z": "e9950fb4a0b9271b",
        "name": "",
        "group": "ca2272c3.e8396",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Nodered editor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "node",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "543c97694d0dd230"
            ]
        ]
    },
    {
        "id": "543c97694d0dd230",
        "type": "trigger",
        "z": "e9950fb4a0b9271b",
        "name": "reset msg",
        "op1": "",
        "op2": "empty",
        "op1type": "pay",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 920,
        "wires": [
            [
                "5e1f0081.6dc3c"
            ]
        ]
    },
    {
        "id": "09689cdf075ad16b",
        "type": "ui_text",
        "z": "e9950fb4a0b9271b",
        "group": "ca2272c3.e8396",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WARNING:",
        "format": "THIS CANNOT BE UNDONE",
        "layout": "row-center",
        "className": "",
        "x": 190,
        "y": 1020,
        "wires": []
    }
]